body {
    margin: 0;
    padding: 0;
}

section {
    display: flex;
}

.half-width {
    font-family: 'Times New Roman', Times, serif;
    margin-left: 250px;
    margin-top: 30px;

}

.half-width p {
    font-size: 20px;
    width: 700px;
}

h1 {
    font-size: 40px;
}

.top-banner {
    background-image: url(images/image\ 3.png);
    background-repeat: no-repeat;
}

img {
    width: 500px;
    margin-left: 250px;
}

.btn {
    padding: 10px 30px;
    background-image: linear-gradient(rgba(255, 115, 0, 0.849), tomato);
    border: none;
}

.btn-link {
    text-decoration: none;
    color: white;

}
.header1{
    margin-left: 100px;
}
span {
    color: orange;
}
.baby-developer{
    font-family: 'Times New Roman', Times, serif;
    margin-left: 250px;
    margin-top: 30px;
    height: 250px;
    padding: 20px;
    width: 510px;
    box-shadow: 2px 10px 15px;
    border-left: 5px solid;
        border-image: linear-gradient(blue,cyan);
    border-image-slice: 1;

}
.baby-developer p{
    font-size: 18px;
    width: 500px;
    text-align: justify;
}
footer{
    text-align: center;
    margin-top: 100px;
}